.navbar {
	border-bottom: #000000 3px solid;
	background-color: #000000;
}

.nav-link {
	color: white !important;
	text-transform: uppercase;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

#home-showcase-section .carousel-item {
	height:  450px;
}

#home-showcase-section .carousel-image-1 {
	background:  url("/static/images/background.b9c12e02e336.png");
	background-size: cover;
}

#home-showcase-section .carousel-image-2 {
	background: url("/static/images/lights.7a9f214177f6.jpg");
	background-size: cover;
}

#home-showcase-section .carousel-image-3 {
	background: url("/static/images/media.78d7b0dfa3e3.jpg");
	background-size: cover;
}

#about-display-section {
	background: url("/static/images/computer_lab.0cfe0a84971b.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 475px;
}

#about-display-section .dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px;
	background: rgba(0, 0, 0, 0);
}

#about-display-section #about-inner {
	background: rgba(0, 0, 0, 0.7);
	width: 50%;
	margin-right: 0px;
	min-height: 475px;
}

#about-display-section #title {
	color: white;
}

#about-display-section .about-inner {
	padding-top: 150px;
}

#about-macro-section .col-md-6 {
	font-size: 1.3em;
}

/*width:450px; height:550px; overflow: hidden; scrolling=no;*/
#about-macro-section .pdftest {
	width: 450px;
	/*height: 550px;*/
	overflow: hidden;
}

.about-macro-full {
	border-bottom: #942929 2px solid !important;
}


#about-pitches-section {
	font-size: 1.3em;
}

.about-pitches-full {
	border-bottom: #942929 2px solid !important;
}

#about-portfolio-section .col-md-6 {
	font-size: 1.3em;
}

#about-portfolio-section .pdftest {
	width: 450px;
}

.about-portfolio-full {
	border-bottom: #942929 2px solid !important;
}

#about-team-section .col1 {
	font-size: 1.3em;
}

/*#about-team-section .btn {

}*/

#login-section {
	padding-top: 150px;
	padding-left: 10px;
}

.loginconfirm {
	margin-top: 20px;
	margin-bottom: 20px;
}

#logout-section {
	padding-top: 150px;
	padding-bottom: 50px;
	padding-left: 10px;
}

#signup-section {
	padding-top: 150px;
	padding-left: 10px;
}

.signupconfirm {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*#about-section {
	padding-top: 150px;
}*/

#team-section {
	padding-top: 150px;
}

#macro-section {
	padding-top: 150px;
}

#portfolio-section {
	padding-top: 150px;
}

#departments-section {
	padding-top: 150px;
}

#getinvolved-section {
	padding-top: 150px;
}

#main-footer {
	background-color: #000000 !important;
	color: white;
}

.mission-col-full {
	border-top: #942929 2px solid !important;
}

.button-col-full {
	border-top: #942929 2px solid !important;
}

#home-button-section .btn-xl {
	padding: 30px;
	background-color: #000000;
	font-size: 20px;
}

#about-team-section .btn-md {
	padding: 30px;
	background-color: #000000;
	font-size: 20px;
}

.linkedin-btn {
	color: inherit;
	padding-right: 5px;
}

.fa-linkedin {
	transition: transform .2s;
}

.fa-linkedin:hover {
	transform: scale(1.5);
}

.instagram-btn {
	color: inherit;
	padding-left: 5px;
}

